<dialog id="member-detail">
    <header>
        <h1>{{strings.dialogTitleMemberDetails}}</h1>
        <a data-role="close" href="#">{{strings.dialogButtonClose}}</a>
    </header>
    <div class="inner">
    {% for member in members %}
        <div data-member-id="{{member.tag}}">
            <section class="identity">
                <h2>
                    {{member.name}}
                    <small>{{member.tag}}</small>
                </h2>
                <div>
                    <h3 class="trophies">{{member.trophies}}</h3>
                    <h3 class="trophies">{{member.role}}</h3>
                </div>

            </section>
            <h3><span>{{strings.dialogLabelPlayerStats}}</span></h3>
            <section class="flex normal">
                <div class="attribute-list">
                    <dl>
                        <dt>{{strings.labelClubRole}}</dt>
                        <dd>{{member.role_label}}</dd>
                    </dl>
                    <dl>
                        <dt>{{strings.labelMemberJoinDate}}</dt>
                        <dd>{{member.join_date_label}}</dd>
                    </dl>
                    <dl>
                        <dt>{{strings.labelMemberLastActivity}}</dt>
                        <dd>
                            {{member.activity_date_label}}<br />
                            {% if member.days_inactive > 1 %}
                                ({{member.days_inactive}} days)
                            {% else %}
                                (Today)
                            {% endif %}
                        </dd>
                    </dl>
                    <dl>
                        <dt>{{strings.labelLastSeen}}</dt>
                        <dd>
                            {{member.last_seen_formatted}}
                            ({{member.last_seen_delta}})
                        </dd>
                    </dl>
                </div>
                <div>
                  <a href="https://brawlstats.com/profile/{{member.tag | replace('#', '')}}" rel="external" target="_blank" class="button royaleapi"><span>{{config.strings.dialogMemberRoyaleApi}}</span></a>
                </div>
            </section>
            <h3><span>{{strings.dialogLabelPlayerDetails}}</span></h3>
            <section>
            <div class="table-scroll">
                <div id="member-table-sortable" class="table-scroll-inner">
                <table id="brawler-table" class="sort" width="100%" data-filter="none">
                <thead>
                    <tr>
                        <th class="rank" data-sort-default>#</th>
                        <th>{{strings.dialogLabelPlayerBra}}</th>
                        <th>{{strings.dialogLabelPlayerBtr}}</th>
                        <th>{{strings.dialogLabelPlayerBht}}</th>
                        <th>{{strings.dialogLabelPlayerBpo}}</th>
                        <th>{{strings.dialogLabelPlayerBrn}}</th>
                    </tr>
                </thead>
                <class="list">
                <tbody>
                 {% for player in players %}
                    {% set existingTags = player.tag %}
                    {% for brawlers in player.brawlers %}
                        {% if existingTags is equalto member.tag %}
               	        <tr>
                        <td>{{loop.index}}</td>
                     	<td class="name {{brawlers.name}} data-sort="{{brawlers.name}}">{{brawlers.name|capitalize}}</td>
                        <td class="trophies {{brawlers.trophies}}" data-sort="{{brawlers.trophies}}">{{brawlers.trophies}}</td>
                        <td class="trophies {{brawlers.highest_trophies}}" data-sort="{{brawlers.highest_trophies}}">{{brawlers.highest_trophies}}</td>
                        <td data-sort="{{brawlers.power}}">{{brawlers.power}}</td> 
                        <td data-sort="{{brawlers.rank}}">{{brawlers.rank}}</td>
                        </tr>
                        {% endif %}
                   {% endfor %}
                {% endfor %}
                </tbody>
	        </table>
            </div>
            </section>
            <h3><span>{{strings.dialogLabelPlayerHistory}}</span></h3>
            <section>
                {% for event in member.events %}
                    <li>{{event.date}} - {{event.message}}</li>
                {% endfor %}
                </ul>
            </section>
            {% if member.blacklist %}
            <h3 class="blacklist"><span>{{strings.dialogMemberBlacklist}}<br>Reason: {{member.notes}}</span></h3>
            {% endif %}
            {% if member.no_promote %}
            <h3 class="no-promote"><span>{{strings.dialogMemberNoPromote}}<br>Reason: {{member.notes}}</span></h3>
            {% endif %}
        </div>
    {% endfor %}
    </div>
</dialog>
