<article id="leaderboards" data-filter="war">
    <header>
        <h3>{{strings.sectionClubLeaderboard}}:</h3>
        <div class="filters">
            <select id="leaderboard-filter">
        </div>
    </header>

    <div class="leaderboard"  data-filter="war">
        <table class="war-standings" width="100%">
            <thead>

            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="leaderboard"  data-filter="war-win-rate">
        <table class="war-standings" width="100%">
            <thead>

            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="leaderboard"  data-filter="donations">
        <table class="war-standings" width="100%" >
            <thead>

            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</article>
