<div class="table-scroll">
    <div id="member-table-sortable" class="table-scroll-inner">
        <table id="member-table" width="100%" data-filter="none">
            <thead>
                <tr>
                    <th class="rank" data-sort-default>#</th>
                    <th class="rank previous">{{strings.labelRankPrevious}}</th>
                    <th class="name">{{strings.labelMember}}</th>
                    <th class="xp-level">{{strings.labelXpLevel}}</th>
                    <th class="score">{{strings.labelScore}}</th>
                    <th class="trophies">{{strings.labelTrophies}}</th>
                    <th class="donations">{{strings.labelDonations}}</th>
                    <th class="donations-received">{{strings.labelDonationsRecieved}}</th>
                    <th class="inactivity">{{strings.labelDaysInactive}}</th>
                    <th class="time-in-club">{{strings.labelTimeInClub}}</th>
                    <th class="last-seen">{{strings.labelLastSeen}}</th>
                    <th class="war-win-rate">{{strings.labelWarWinRate}}</th>
                </tr>
            </thead>
            <class="list">
            {% for member in members %}
                <tr data-blacklist="{{ 'true' if member.blacklist else 'false' }}" data-nopromote="{{ 'true' if member.no_promote else 'false' }}" data-score="{{member.score}}" data-activity="{{member.activity_status}}" data-status="{{member.status}}" data-clubrole="{{member.role}}" data-leadership="{{member.leadership}}" data-vacation="{{member.vacation != False}}" data-new="{{ 'true' if member.new else 'false' }}">
                    <td class="id rank" data-sort="{{member.rank}}">
                        {% if member.rank < member.previous_rank %}
                        <span class="rank-up">
                        {% elif member.rank > member.previous_rank %}
                        <span class="rank-down">
                        {% else %}
                        <span>
                        {% endif %}
                           <strong>{{member.rank}}</strong>
                        </span>
                    </td>
                    <td class="rank previous" data-sort="{{member.previous_rank}}">
                        <strong>{{member.previous_rank}}</strong>
                    </td>
                    <td class="name" data-sort="{{member.name}}" data-role="dialog-show" data-target="member-detail" data-member-tag="{{member.tag}}">
                        <strong>{{member.name}}</strong><br />
                        <small class="member-role">{{member.role_label}}</small>
                    </td>
                    <td class="score {{member.exp_level}}" data-sort="{{member.exp_level}}" data-tooltip="true">
                        <strong>{{member.exp_level}}</strong>
                    </td>
                    <td class="score {{member.status}}" data-sort="{{member.score}}" data-tooltip="true">
                        <strong>{{member.score}}</strong>
                    </td>
                    <td class="score {{member.trophies}}" data-sort="{{member.trophies}}" data-tooltip="true">
                        <strong>{{member.trophies}}</strong>
                    </td>
                    <td class="inactivity {{member.activity_status}}" data-sort="{{member.days_inactive}}" >
                        <strong>{{member.days_inactive}}</strong><br /><small>{{strings.labelDays}}</small>
                    </td>
                    <td class="time-in-Club" data-sort="{{member.days_from_join}}" >
                        {{member.time_in_club}}
                    </td>
                    <td class="last-seen" data-sort="{{member.last_seen}}" >
                        {{member.last_seen_delta}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<style>
{% for selector in hidden_columns %}
    #member-table tr .{{selector}} { display: none !important; }
{% endfor %}
</style>