<!DOCTYPE html>
<html>
<head>    
   <link href='static/style.css' rel='stylesheet'>
   <link href='static/tablesort.css' rel='stylesheet'>
   <script src='static/tablesort.js'></script>
   <script src='static/sorts/tablesort.date.js'></script>
   <script src='static/sorts/tablesort.dotsep.js'></script>
   <script src='static/sorts/tablesort.filesize.js'></script>
   <script src='static/sorts/tablesort.number.js'></script>
</head>
<header>
   <h1>Test brawler</h1>
</header>
<body>
        <header class='inner'> 
            member.tag
                <table id="brawler" class="sort">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Brawler</th>
                        <th>Btrophies</th>
                        <th>Bht</th>
                        <th>Bpo</th>
                        <th>Brn</th>
                    </tr>
                </thead>
                <tbody>
                 
                    
                    
                        
               	        <tr>
                        <td>1</td>
                     	<td class="name SHELLY data-sort="SHELLY">Shelly</td>
                        <td class="trophies 552" data-sort="552">552</td>
                        <td class="trophies 590" data-sort="590">590</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="21">21</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>2</td>
                     	<td class="name COLT data-sort="COLT">Colt</td>
                        <td class="trophies 525" data-sort="525">525</td>
                        <td class="trophies 579" data-sort="579">579</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="21">21</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>3</td>
                     	<td class="name BULL data-sort="BULL">Bull</td>
                        <td class="trophies 471" data-sort="471">471</td>
                        <td class="trophies 471" data-sort="471">471</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="19">19</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>4</td>
                     	<td class="name BROCK data-sort="BROCK">Brock</td>
                        <td class="trophies 501" data-sort="501">501</td>
                        <td class="trophies 501" data-sort="501">501</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="20">20</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>5</td>
                     	<td class="name RICO data-sort="RICO">Rico</td>
                        <td class="trophies 525" data-sort="525">525</td>
                        <td class="trophies 585" data-sort="585">585</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="21">21</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>6</td>
                     	<td class="name SPIKE data-sort="SPIKE">Spike</td>
                        <td class="trophies 532" data-sort="532">532</td>
                        <td class="trophies 579" data-sort="579">579</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="21">21</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>7</td>
                     	<td class="name BARLEY data-sort="BARLEY">Barley</td>
                        <td class="trophies 466" data-sort="466">466</td>
                        <td class="trophies 466" data-sort="466">466</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="19">19</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>8</td>
                     	<td class="name JESSIE data-sort="JESSIE">Jessie</td>
                        <td class="trophies 508" data-sort="508">508</td>
                        <td class="trophies 508" data-sort="508">508</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="20">20</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>9</td>
                     	<td class="name NITA data-sort="NITA">Nita</td>
                        <td class="trophies 534" data-sort="534">534</td>
                        <td class="trophies 534" data-sort="534">534</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="20">20</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>10</td>
                     	<td class="name DYNAMIKE data-sort="DYNAMIKE">Dynamike</td>
                        <td class="trophies 511" data-sort="511">511</td>
                        <td class="trophies 516" data-sort="516">516</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="20">20</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>11</td>
                     	<td class="name EL PRIMO data-sort="EL PRIMO">El primo</td>
                        <td class="trophies 525" data-sort="525">525</td>
                        <td class="trophies 593" data-sort="593">593</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="21">21</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>12</td>
                     	<td class="name MORTIS data-sort="MORTIS">Mortis</td>
                        <td class="trophies 525" data-sort="525">525</td>
                        <td class="trophies 579" data-sort="579">579</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="21">21</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>13</td>
                     	<td class="name CROW data-sort="CROW">Crow</td>
                        <td class="trophies 537" data-sort="537">537</td>
                        <td class="trophies 654" data-sort="654">654</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="23">23</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>14</td>
                     	<td class="name POCO data-sort="POCO">Poco</td>
                        <td class="trophies 525" data-sort="525">525</td>
                        <td class="trophies 559" data-sort="559">559</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="21">21</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>15</td>
                     	<td class="name BO data-sort="BO">Bo</td>
                        <td class="trophies 535" data-sort="535">535</td>
                        <td class="trophies 568" data-sort="568">568</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="21">21</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>16</td>
                     	<td class="name PIPER data-sort="PIPER">Piper</td>
                        <td class="trophies 517" data-sort="517">517</td>
                        <td class="trophies 553" data-sort="553">553</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="21">21</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>17</td>
                     	<td class="name PAM data-sort="PAM">Pam</td>
                        <td class="trophies 493" data-sort="493">493</td>
                        <td class="trophies 493" data-sort="493">493</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="19">19</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>18</td>
                     	<td class="name TARA data-sort="TARA">Tara</td>
                        <td class="trophies 535" data-sort="535">535</td>
                        <td class="trophies 565" data-sort="565">565</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="21">21</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>19</td>
                     	<td class="name DARRYL data-sort="DARRYL">Darryl</td>
                        <td class="trophies 521" data-sort="521">521</td>
                        <td class="trophies 574" data-sort="574">574</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="21">21</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>20</td>
                     	<td class="name PENNY data-sort="PENNY">Penny</td>
                        <td class="trophies 541" data-sort="541">541</td>
                        <td class="trophies 566" data-sort="566">566</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="21">21</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>21</td>
                     	<td class="name FRANK data-sort="FRANK">Frank</td>
                        <td class="trophies 525" data-sort="525">525</td>
                        <td class="trophies 585" data-sort="585">585</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="21">21</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>22</td>
                     	<td class="name GENE data-sort="GENE">Gene</td>
                        <td class="trophies 534" data-sort="534">534</td>
                        <td class="trophies 575" data-sort="575">575</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="21">21</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>23</td>
                     	<td class="name TICK data-sort="TICK">Tick</td>
                        <td class="trophies 491" data-sort="491">491</td>
                        <td class="trophies 525" data-sort="525">525</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="20">20</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>24</td>
                     	<td class="name LEON data-sort="LEON">Leon</td>
                        <td class="trophies 533" data-sort="533">533</td>
                        <td class="trophies 617" data-sort="617">617</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="22">22</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>25</td>
                     	<td class="name ROSA data-sort="ROSA">Rosa</td>
                        <td class="trophies 549" data-sort="549">549</td>
                        <td class="trophies 552" data-sort="552">552</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="21">21</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>26</td>
                     	<td class="name CARL data-sort="CARL">Carl</td>
                        <td class="trophies 525" data-sort="525">525</td>
                        <td class="trophies 556" data-sort="556">556</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="21">21</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>27</td>
                     	<td class="name BIBI data-sort="BIBI">Bibi</td>
                        <td class="trophies 515" data-sort="515">515</td>
                        <td class="trophies 570" data-sort="570">570</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="21">21</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>28</td>
                     	<td class="name 8-BIT data-sort="8-BIT">8-bit</td>
                        <td class="trophies 525" data-sort="525">525</td>
                        <td class="trophies 564" data-sort="564">564</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="21">21</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>29</td>
                     	<td class="name SANDY data-sort="SANDY">Sandy</td>
                        <td class="trophies 533" data-sort="533">533</td>
                        <td class="trophies 539" data-sort="539">539</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="20">20</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>30</td>
                     	<td class="name BEA data-sort="BEA">Bea</td>
                        <td class="trophies 405" data-sort="405">405</td>
                        <td class="trophies 405" data-sort="405">405</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="17">17</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>31</td>
                     	<td class="name EMZ data-sort="EMZ">Emz</td>
                        <td class="trophies 484" data-sort="484">484</td>
                        <td class="trophies 484" data-sort="484">484</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="19">19</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>32</td>
                     	<td class="name MR. P data-sort="MR. P">Mr. p</td>
                        <td class="trophies 435" data-sort="435">435</td>
                        <td class="trophies 435" data-sort="435">435</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="18">18</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>33</td>
                     	<td class="name MAX data-sort="MAX">Max</td>
                        <td class="trophies 531" data-sort="531">531</td>
                        <td class="trophies 546" data-sort="546">546</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="20">20</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>34</td>
                     	<td class="name JACKY data-sort="JACKY">Jacky</td>
                        <td class="trophies 246" data-sort="246">246</td>
                        <td class="trophies 246" data-sort="246">246</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="13">13</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>35</td>
                     	<td class="name GALE data-sort="GALE">Gale</td>
                        <td class="trophies 355" data-sort="355">355</td>
                        <td class="trophies 355" data-sort="355">355</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="16">16</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>36</td>
                     	<td class="name NANI data-sort="NANI">Nani</td>
                        <td class="trophies 170" data-sort="170">170</td>
                        <td class="trophies 170" data-sort="170">170</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="11">11</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>37</td>
                     	<td class="name SPROUT data-sort="SPROUT">Sprout</td>
                        <td class="trophies 224" data-sort="224">224</td>
                        <td class="trophies 224" data-sort="224">224</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="13">13</td>
                        </tr>
                        
                   
                        
               	        <tr>
                        <td>38</td>
                     	<td class="name SURGE data-sort="SURGE">Surge</td>
                        <td class="trophies 141" data-sort="141">141</td>
                        <td class="trophies 141" data-sort="141">141</td>
                        <td data-sort="10">10</td> 
                        <td data-sort="10">10</td>
                        </tr>
                </tbody>
	        </table>
          
        </header>
    </body>
</html>
<script>
   new Tablesort(document.getElementById('brawler'));
</script>